# Ignore markdown docs
*.md

# Ignore node modules
node_modules/
**/node_modules/

# Python virtual environments
.venv/
env/

# Django database
db.sqlite3

# Environment variables
.env

# Editor configs
.vscode/
.idea/
